doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO' crossorigin='anonymous')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js' integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49' crossorigin='anonymous')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js' integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy' crossorigin='anonymous')
  title Schedule Management
nav.navbar.navbar-expanded.navbar-light.bg-light
  ul.nav.nav-pills
    li.nav-item
      a.nav-link(href='MyServer') Server
    a.nav-item
      a.nav-link(href='schedule') Schedule
    li.nav-item
      a.nav-link(href='AboutMe') AboutMe
    li.nav-item
      a.nav-link(href='addEvent') AddEvent
    li.nav-item
      a.nav-link(href='stockQuotes') Stocks
    li.nav-item
      a.nav-link(href='logout') Logout
br
br
.container
  .jumbotron
    h1.display-4 Welcome to Schedule Management
    p.lead From here you&apos;ll be able to:
    ul.list-group
      li.list-group-item
        | View your current schedule for
        | a day
      li.list-group-item
        | Add new events to your
        | schedule
      li.list-group-item
        | and in future homeworks, so
        | much more!
